@charset "utf-8";

html {
    height: 100%;
    width: 100%;
}

* {
	margin:0;
	padding:0;
}

body {
    overflow: hidden;
    display: block;
    height: 100%;
    width: auto;
    background-blend-mode: multiply;
    background:#0087C2 url(../img/02-whitepaper.png);
    text-align: center;  
    color: #fff;
    /* font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic' */
    font-family: 'Montserrat Subrayada', sans-serif;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -5;
    }
}

@keyframes img-wrap {
    100% {
        transform: translateX(100%);
    }
}

.loading-wrapper {
    background-color: #fff;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100vh;
    text-align: center;
    animation-name: fade-out;
    animation-duration: 1s; /* アニメーション時間 */
    animation-timing-function: ease-out; /* アニメーションさせるイージング */
    animation-iteration-count: 1; /* 繰り返し回数 */
    animation-delay: 6.3s; /* アニメーション開始させる時間 */
    animation-direction: normal; /* 往復処理をするかどうか */
    animation-fill-mode: forwards; /* アニメーション後のスタイルをどうするか */
}

.loading-contents {
    text-align: center;
    margin: 0 auto;
    margin-top: 250px;
    vertical-align: middle;
    position: relative;
    animation-name: fade-out;
    animation-duration: 2s; /* アニメーション時間 */
    animation-timing-function: ease-out; /* アニメーションさせるイージング */
    animation-iteration-count: 1; /* 繰り返し回数 */
    animation-delay: 4.5s; /* アニメーション開始させる時間 */
    animation-direction: normal; /* 往復処理をするかどうか */
    animation-fill-mode: forwards; /* アニメーション後のスタイルをどうするか */
}

.loading-img-mk {
    width: 270px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    animation-name: fade-in;
    animation-duration: 3s; /* アニメーション時間 */
    animation-timing-function: ease-out; /* アニメーションさせるイージング */
    animation-delay: 0s; /* アニメーション開始させる時間 */
    animation-iteration-count: 1; /* 繰り返し回数 */
    animation-direction: normal; /* 往復処理をするかどうか */
    animation-fill-mode: forwards; /* アニメーション後のスタイルをどうするか */
}

.loading-img-follow-wrapper {
    width: 270px;
    height: 50px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.loading-img-follow-wrapper-middle {
    overflow: hidden;
    position: relative;
}

.loading-img-follow-wrapper-middle::before {
    animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1) forwards;
    animation-delay: 1.7s; /* アニメーション開始させる時間 */
    background: #fff;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.loading-img-follow {
    width: 270px;
    height: 50px;
}

.main-wrapper {
    display: block;
    width: 100%;
    width: auto;
    text-align: center;
    margin: 0 auto; 
    /* position: relative; */
    vertical-align: middle;
    /* position: relative; */
    /* display: inline-block; */
}



.header {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.hamburger-img {
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 55px;
    width: 50px;
    height: 20px;
}

.hamburger-img:hover {
    opacity: 0.7;
}

/* .mahiro-logo-img {
    margin-right: 50px;
    margin-top: 40px;
    width: 175px;
    height: 126px;
} */

#hide-list-wrapper {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 340px;
    height: 100vh;
    /* background: #9b9b9b; */
    background-blend-mode: multiply;
    background:rgb(70, 70, 70) url(../img/02-whitepaper.png);
    /* box-shadow: 37px 3px 25px rgba(0, 0, 0, 0.226); */
    transform: translateX(-110%);
    transition: all 0.6s; 
    
}


.open #hide-list-wrapper {
    transform: translateX(0);
    
}

.hamburger-img-blue {
    left: 240px;
}

.side-contents-title {
    /* font-family: 'Arial Black','Arial Black',sans-serif; */
    font-family: serif;
    position: absolute;
    top: 115px;
    left: 25px;
    font-size: 40px;
    letter-spacing: 0.12em;
    
}

.side-lists {
    /* font-family: 'Arial Black','Arial Black',sans-serif; */
    font-family: serif;
    text-align-last: left;
    line-height: 2.6rem;
    position: absolute;
    top: 190px;
    left: 45px;
    font-size: 20px;
    letter-spacing: 0.1em;
    
}

.side-lists > ul {
    list-style: none;
}

.side-ul > li {
    transform-origin: left bottom;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 13px;
}

.side-ul > li:hover {
    transform: scale(1.2, 1.2);
}

.main-contents {

    /* width: 100%; */
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    margin: 0 auto;
    margin-top: 180px;
    box-shadow:inset 0 1px 5px rgba(0,0,0,.5);
    text-align: center;
    transition: all 0.6s;
    transform: translateX(0);
    display: inline-block;
    background-blend-mode: multiply;
    background:rgb(0, 168, 240) url(../img/02-whitepaper.png);
    padding: 30px 50px 40px 70px;

    box-shadow: -30px 30px 40px rgba(0, 0, 0, 0.4),inset 40px -40px 150px rgba(0, 0, 0, 0.4),30px -30px 60px rgba(116, 157, 196, 0.377);
}

.open .main-contents {
    transform: translateX(15%);    
}

.main-text > p {
    /* font-family: 'Arial Black','Arial Black',sans-serif; */
    /* font-family: 'Montserrat Subrayada', sans-serif; */
    /* font-family: 'Vollkorn', serif; */
    font-family: serif;
    /* position: absolute; */
    top: 100px;
    left: 180px;
    font-weight: bold;
    font-size: 90px;
    letter-spacing: 0.12em;
    color: #fff;
    /* text-shadow: -10px 10px 0px rgba(0, 0, 0, 0.16); */
    background-image: url(../img/02-whitepaper.png);
    -webkit-background-clip: text;
    color: transparent;
}

.horizon {
    width: 900px;
    height: 0;
    background: transparent;
    border-top: 3px solid #fff;
    filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.16));
    /* position: absolute; */
    margin: 0 auto;
}

.sub-contents {
    margin-top: 20px;
    display: flex;

}

.sub-texts > p {
    width: 500px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Book Antiqua';
    letter-spacing: 0.25em;
    line-height: 2.2rem;
    text-align: left;
    color: #fff;
    margin-left: 5px;
    /* text-shadow: -5px 5px 0px rgba(0, 0, 0, 0.16); */
    /* position: absolute; */
    text-align: left;
    background-image: url(../img/02-whitepaper.png);
    -webkit-background-clip: text;
    color: transparent;
}

.sign-wrapper > img {
    /* position: absolute; */
    filter: drop-shadow(inset 5px -5px 0px rgba(0, 0, 0, 0.16));
    color: turquoise;
}

.sign {
    width: 400px;
    height: 100px;
}

.icons {
    /* position: absolute; */
    text-align: right;
   
} 

.instagram {
    width: 37px;
    height: 37px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    transform-origin: left top;
    filter: drop-shadow(-5px 5px 0px rgba(0, 0, 0, 0.16));
} 

.instagram:hover {
    transform: scale(1.2, 1.2);
}

.twitter {
    margin-left: 20px;
    width: 75px;
    height: 75px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    transform-origin: left top;
    filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.16));
} 

.twitter:hover {
    transform: scale(1.2, 1.2);
}
